<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand active" href="#">Products</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand active" href="#">Products</a> -->
    <a class="navbar-brand" routerLink="app-Productlist" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">
      Product</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="app-register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="app-login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </span>

      <span class="navbar-text">
        <a class="navbar-brand" routerLink="app-cartsview" routerLinkActive="active">
          show card list</a>

      </span>
    </div>
  </div>
</nav>
